body {

}
.container {

display: flex;
width: 900px;
margin: auto;
height: 800px;
justify-content: center;
align-items: center;

}

p {
  text-align: center;
  font-weight: bold;
}

table {

  border-collapse: collapse;

}

td {
  width: 50px;
  height: 50px;
  border-style: solid;
  background-color: #d9d8d8;
}

tr {


}

.one {

}

.bomb
 {
   background-color: red;
 }

 .noBomb {
   background-color: beige;
 }
