body {

}
.container {

display: flex;
width: 900px;
margin: auto;
height: 800px;
justify-content: center;
align-items: center;

}

p {
    margin: 0px;
    color: blue;
}

table {
/* border-collapse: collapse; */
}

td {
  width: 35px;
  height: 35px;
  font-size: 18pt;
  text-align: center;
  box-shadow: 1.5px 1.5px;
  font-weight: bold;
  border-style: solid;
  background-color: #d9d8d8;
  max-height: 1px;
}

tr {


}

.one {

}

.bomb
 {
   background-color: red;
 }

 .noBomb {
   background-color: black;
 }
