body {

  background-image: url("../img/leaves.png");



}
.container {

display: flex;
width: 900px;
margin: auto;
height: 900px;
flex-direction: column;
justify-content: center;
align-items: center;

}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

header {


}

p {
    margin: 0px;
    color: blue;
}

table {
/* border-collapse: collapse; */
}

td {
  width: 35px;
  height: 35px;
  font-size: 18pt;
  text-align: center;
  box-shadow: 1.5px 1.5px;
  font-weight: bold;
  border-style: solid;
  background-color: #d9d8d8;
  max-height: 1px;
}

tr {


}

.one {

}

.bomb
 {
   background-color: red;
 }

 .noBomb {
   background-color: black;
 }
